body {
    margin: 0em;
    font: 1em helvetica, arial, sans-serif;
    background: rgb(221,221,221);
  background: linear-gradient(180deg, rgba(221,221,221) 80%, rgba(204,204,221) 100%);
  }

  .container {
    padding: 0 1em;
    max-width: 70em;
    margin: 0 auto;
  }
  
  .toplevel-footer, .toplevel-header {
    display: flow-root;
    background-color: #444;
    color: #ddd;  
  }
  
  .toplevel-header {
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index:1;
    height: 50px;
    filter: drop-shadow(0 2px 2px #bbb);
  }
  
  .toplevel-footer{
    margin-top: 33em;
  }

  .top-bar {
    display: flex;
    padding: 0 1em;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .toplevel-main {
    padding-top: 5em;
    padding-bottom: 3em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;  
  }

  .search input {
    background-color: #777;
    padding: 10px 18px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    color: #ddd;
  }

  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .login-card {
    width: 400px;
    display: flex;
    padding: 4em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #BBF;
      border-radius: 4px;
      background: #444;
      background: linear-gradient(180deg, #444 65%, #333 100%);
    
}

.userInfo {
  padding: 10px 18px;
    margin: 0.8em 0;
    border: none;
    border-radius: 4px;
    color: #ddd;
}

.userInfo input {
  padding: 12px 18px;
  margin: 0.8em 0;
  border: none; 
  border-radius: 4px;
  color: #222;
  width: calc(100% - 20px);
}

input[type="submit"] {
  color: #222;
  background-color: #BBF;
  margin-right:10px;
  max-width: 200px;
}

input[type="submit"]:hover {
  opacity:75%;
  
}

.welcome {
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.success-msg {
  visibility: hidden;
  text-align: center;
  position: absolute;
  top:50%;
  font-size: 1.1em;
  padding:30px;
  width: 240px;
  height: 80px;
  background-color: white;
  border: 1px solid #BBF;
  border-radius: 4px;
  filter: drop-shadow(0 1rem 0.75rem black);
}

.exit {
 float: right;
}