body {
    margin: 0em;
    font: 1em helvetica, arial, sans-serif;
    background: rgb(221,221,221);
  background: linear-gradient(180deg, rgba(221,221,221) 80%, rgba(204,204,221) 100%);
  }
  
  input, select, button, textarea {
    font: inherit;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    padding: 0 1em;
    max-width: 70em;
    margin: 0 auto;
  }
  
  .toplevel-footer, .toplevel-header {
    display: flow-root;
    background-color: #444;
    color: #ddd;  
  }
  
  .toplevel-header {
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index:1;
    height: 50px;
    filter: drop-shadow(0 2px 2px #bbb);
  }
  
  .top-bar {
    display: flex;
    padding: 0 1em;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .toplevel-main {
    padding-top: 5em;
    padding-bottom: 3em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;  
  }
  
  .side-bar,  .post {
    border: 1px solid #BBF;
    border-radius: 2px;
    background-color: white;
    padding-left: 10px;
  }
  
  .fixed-title {
    height: 30px;
    color: #777;
  }
  
  .side-bar {
    margin-top: 30px;
    padding: 10px;
    width:130px;
    min-height: 320px;
  }
  
  .side-bar a img {
    margin: 10px;
  }
  
  .sidebar-info {
    padding: 10px;
  }
  
  .timeline {
    margin-left: 24px;
    width: 30em;
  }
  
  .post {
    margin-bottom: 12px;
    padding: 10px;
    cursor: pointer;
  }
  
  .post h2 {
    margin-bottom: 12px;
    font-size: 20px;
    color: #666;
  }
  
  .post:hover {
    border: 1px solid #88d;
  }
  
  .post-text {
      -webkit-mask-image: linear-gradient(
      180deg
      ,#000 60%,transparent);
      overflow: hidden;
      padding: 5px 8px 10px;
  }
  
  .post-text:hover {
      -webkit-mask-image: linear-gradient(
      180deg
      ,#000 100%,transparent);
      overflow: hidden;
  }
  
  .clear {
      -webkit-mask-image: linear-gradient(
      180deg
      ,#000 100%,transparent);
      overflow: hidden;
  }
  
  button {
    border: 1px solid #FFF;
    background-color: #fff;
    padding: 8px;
    margin-right: 10px;
  }
  
  button:hover {
    border: 1px solid #AAd;
    background-color: #EEF;
  }
  
  button:active {
    border: 1px solid #AAd;
    background-color: #DDE;
  }
  
  
  .post-header {
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    -ms-flex-align: start;
    align-items: start;
    margin: 0 8px 8px;
    position: relative;
  }
  
  .post-header a {
    padding: 8px;
  }
  
  .comment-text {
    font-size: 16px;
    margin-left: 24px;
    margin-top: -10px;
    padding: 0 1em;
    border-left: 1px solid #ddd;
  }
  
  .commenting {
    margin: 0 10px
  }
  
  .commenting form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .commenting form input {
    
    margin: 10px 0 0 auto;
  }
  
  .write-comment {
    margin-left:30px;
   width: 100%;
  }
  
  .search input {
    background-color: #777;
    padding: 10px 18px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    color: #ddd;
  }
  
  .comments {
    display: none;
  }
  
  .animation {
      animation: growDown 200ms ease-in-out forwards;
      transform-origin: top center;
  }
  
  @keyframes growDown {
      0% {
          transform: scaleY(0)
      }
      100% {
          transform: scaleY(1)
      }
  }
  
  